:root {
    --width: 800px;
}
body {
    margin: 0;
}
.headr {
    height: 15rem;
    border-bottom: 3px solid var(--color-gray-dark);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--color-gray-dark);
}

.headr > div {
    width: var(--width);
    padding-bottom: 2rem;
}

.headr h1 {
    font-size: 3rem;
}
.headr .intro {
    max-width: 60vw;
}
.main {
    padding: 3rem 0;
    border-bottom: 3px solid var(--color-gray-medium);
    display: flex;
    justify-content: center;
}
.main > div {
    width: var(--width);
}
.main h2 {
    margin-bottom: 1.5rem;
}
.footer {
    padding: 3rem 0 7rem 0;
    display: flex;
    justify-content: center;
    background: var(--color-gray-light);
}

.footer > div {
    width: var(--width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Card */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 11rem 11rem 11rem 11rem 11rem;
    grid-gap: 1rem;
}

.card {
  background: var(--color-gray-dark);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s;
  cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}
.card h2 {
  color: var(--color-white);
  margin-bottom: 0.25rem;
}

.card p {
  color: var(--color-white);
  margin: 0;
}

.card ul {
  display: flex;
}

.card > ul > li {
  padding: 0.35rem 0.5rem;
  margin-right: 0.5rem;
  background: var(--color-white);
  font-size: 0.8rem;
  border-radius: var(--border-radius);
}

/* Tag */

.tags {
    display: flex;
    opacity: 0.5;
}

.tag {
    margin-right: 0.75rem;
    color: var(--color-white);
}
.tag:last-child {
    margin-right: 0;
}